<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header___item-list">
      <li class="main-header__item">
        <a href="/">Shop</a>
      </li>
      <li class="main-header__item">
        <a href="/admin/add-product">Add products</a>
      </li>
    </ul>
  </nav>
</header>